# Exploration and Data Cleaning
## Datasets
#### Digital Footprints
1. [df_final_web_data_pt_1](https://github.com/data-bootcamp-v4/lessons/blob/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt)
2. [df_final_web_data_pt_2](https://github.com/data-bootcamp-v4/lessons/blob/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt)
#### Experiment Roster
3. [df_final_experiment_clients](https://github.com/data-bootcamp-v4/lessons/blob/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt)

In [3]:
import pandas as pd

In [5]:
# Datasets:

df_final_web_data_pt_1 = pd.read_csv('../data/raw/df_final_web_data_pt_1.txt', sep=',')
df_final_web_data_pt_2 = pd.read_csv('../data/raw/df_final_web_data_pt_2.txt', sep=',')

df_final_experiment_clients = pd.read_csv('../data/raw/df_final_experiment_clients.txt', sep=',')

In [7]:
df_final_web_data_pt_1.shape

(343141, 5)

In [9]:
df_final_web_data_pt_1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [11]:
df_final_web_data_pt_2.shape

(412264, 5)

In [13]:
df_final_web_data_pt_2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [15]:
# Merge Digital Footprints datasets
df_final_web_data = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], ignore_index=True)
df_final_web_data.shape

(755405, 5)

In [131]:
# Checking for null values in df_final_web_data.
df_final_web_data.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [17]:
df_final_web_data.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [19]:
df_final_experiment_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [21]:
# Checking for null values in df_final_experiment_clients
df_final_experiment_clients.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [23]:
# Drop rows with any null values in df_final_experiment_clients
df_final_experiment_clients_cleaned = df_final_experiment_clients.dropna()

# verification:
df_final_experiment_clients_cleaned.isnull().sum()

client_id    0
Variation    0
dtype: int64

In [25]:
df_final_experiment_clients_cleaned.shape

(50500, 2)

In [55]:
# We will analyze only the observations that are part of the AB test, specifically those with a defined 'Variation'.
# To achieve this, we will perform an inner join.

# Perform an inner join on the two DataFrames using the 'client_id' column
df_experiment_data = pd.merge(df_final_web_data, df_final_experiment_clients_cleaned, on='client_id', how='inner')

df_experiment_data.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test

In [45]:
df_experiment_data.shape

(321309, 6)

In [47]:
# Analysing the unique values
df_experiment_data.nunique()

client_id        50500
visitor_id       56011
visit_id         69205
process_step         5
date_time       283344
Variation            2
dtype: int64

In [61]:
# We want to analyze the user interactions for each step across the two variations: Control and Test

# Group by 'variation' and 'process_step' and then count the occurrences
observation_counts = df_experiment_data.groupby(['Variation', 'process_step']).size().unstack()

# Display the resulting table
display(observation_counts)

process_step  confirm  start  step_1  step_2  step_3
Variation
Control         17505  47608   29668   25886   22795
Test            25722  56474   38768   30989   25894