In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [17]:
df_final_demo = pd.read_csv("df_final_demo.txt", delimiter=",")
df_final_experiment_clients=pd.read_csv("df_final_experiment_clients.txt",delimiter=',')

In [18]:
df_final_demo.shape

(70609, 9)

In [19]:
df_final_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [ ]:
df_final_demo.dtypes

In [ ]:
df_final_experiment_clients.dtypes

In [ ]:
df_final_demo.duplicated().sum()

In [ ]:
df_final_demo.describe()

In [ ]:
 df_final_demo.select_dtypes(include=['object'])

In [ ]:
df_final_demo['gendr'].value_counts()

In [ ]:
df_final_demo.isnull().sum()

In [ ]:
df_final_demo[df_final_demo.isnull().any(axis=1)]

In [20]:
#dropping raws with null values 
df_final_demo_cleaned = df_final_demo.dropna()

In [21]:
df_final_demo_cleaned.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [22]:
df_final_experiment_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [26]:
merged_df_demo = pd.merge(df_final_demo_cleaned, df_final_experiment_clients, on='client_id', how='inner')

In [24]:
merged_df_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,Test
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,Control
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,Test
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,Test
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,Control

In [27]:
merged_df_demo.isnull().sum()

client_id               0
clnt_tenure_yr          0
clnt_tenure_mnth        0
clnt_age                0
gendr                   0
num_accts               0
bal                     0
calls_6_mnth            0
logons_6_mnth           0
Variation           20107
dtype: int64

In [28]:
merged_df_demo.columns.tolist()

['client_id',
 'clnt_tenure_yr',
 'clnt_tenure_mnth',
 'clnt_age',
 'gendr',
 'num_accts',
 'bal',
 'calls_6_mnth',
 'logons_6_mnth',
 'Variation']

In [29]:
#Function to clean merged_df and users data df
def clean_df(df):
    # Ensure the column 'client_id' exists before changing its datatype
    if 'client_id' in df.columns:
        df['client_id'] = df['client_id'].astype(str)
    
    # Ensure the column 'clnt_tenure_yr' exists before changing its datatype
    if 'clnt_tenure_yr' in df.columns:
        df['clnt_tenure_yr'] = df['clnt_tenure_yr'].fillna(0).astype(int)
    
    # Ensure the column 'clnt_tenure_mnth' exists before changing its datatype
    if 'clnt_tenure_mnth' in df.columns:
        df['clnt_tenure_mnth'] = df['clnt_tenure_mnth'].fillna(0).astype(int)
    
    # Ensure the column 'clnt_age' exists before rounding its values
    if 'clnt_age' in df.columns:
        df['clnt_age'] = df['clnt_age'].round(2)
    
    # Ensure the column 'gendr' exists before cleaning its values
    if 'gendr' in df.columns:
        df['gendr'] = df['gendr'].str.strip()  # Remove any leading/trailing whitespace
        df['gendr'] = df['gendr'].replace({'X': 'U'})  # Replace 'X' with 'U'
        df['gendr'] = df['gendr'].apply(lambda x: 'F' if x == 'F' else ('M' if x == 'M' else 'U'))
    
    # Ensure the column 'num_accts' exists before changing its datatype
    if 'num_accts' in df.columns:
        df['num_accts'] = df['num_accts'].fillna(0).astype(int)
    
    # Ensure the column 'bal' exists before rounding its values
    if 'bal' in df.columns:
        df['bal'] = df['bal'].round(2)
    
    # Ensure the column 'calls_6_mnth' exists before changing its datatype
    if 'calls_6_mnth' in df.columns:
        df['calls_6_mnth'] = df['calls_6_mnth'].fillna(0).astype(int)
    
    # Ensure the column 'logons_6_mnth' exists before changing its datatype
    if 'logons_6_mnth' in df.columns:
        df['logons_6_mnth'] = df['logons_6_mnth'].fillna(0).astype(int)
    
    return df

In [30]:
#clean_df_final_demo=clean_df(df_final_demo)
#merged_df=clean_df(merged_df)
path_demo=r"C:\Users\tania\Documents\FormationDataIronhack\Cours_semaine5\Projectweek5\Vanguard\data\clean\clean_df_final_demo.csv"
df_final_demo_cleaned.to_csv(path_demo, index=False)